/* STYLE ELEMENTS THAT ARE SET, REGARDLESS OF WINDOW SIZE */

/* CREATING THE AREA OF THE WRAPPER. WIDTH IS IN PERCENTAGE FOR A RESPONSIVE WEBSITE */
#wrapper {
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;

}

/* ALIGNING THE TITLE TO THE CENTER */
#banner {
    text-align: center;
}


/* STYLESHEET FOR STANDARD WINDOWS */
@media only screen and (min-width: 960px) {

    #left-column {
        float: left;
        width: 40%;
        height: 80%;
        background-color: #7bcacf;
    }

    video {
        width: 90%;
        max-height: 60%;
        margin-top: auto;
        margin-left: 5%;
    }

    #right-column {
        margin-right: 10%;
    }
    
    p {
        margin-left: 5%;
    }

    img {
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 45%;
        border: 5px solid rgb(221, 186, 122);
        border-radius: 10px;
    }
}

/* STYLESHEET FOR TABLET SIZED WINDOWS */
@media only screen and (min-width: 481px) and (max-width: 959px) {

    #left-column {
        align-self: center;
        width: 100%;
        background-color: #7bcacf;
    }

    video {
        width: 90%;
        max-height: 60%;
        margin-top: auto;
        margin-left: 5%;
    }

    p {
        margin-left: 5%;
    }

    img {
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 80%;
        border: 5px solid rgb(221, 186, 122);
        border-radius: 2%;
    }
}

/* STYLESHEET FOR PHONE SIZED SCREENS */
@media only screen and (max-width: 480px) {

    #left-column {
        align-self: center;
        width: 100%;
        background-color: #7bcacf;
    }

    video {
        width: 90%;
        max-height: 60%;
        margin-top: auto;
        margin-left: 5%;
    }

    p {
        margin-left: 5%;
    }

    img {
        display: block;
        margin-left:auto;
        margin-right: auto;
        width: 80%;
        border: 5px solid rgb(221, 186, 122);
        border-radius: 2%;
    }
}