#banner {
    text-align: center;
}

/*  THE FORM USED FOR STANDARD AND TABLET SIZED WINDOWS 
    THE FORMAT IS GOOD FOR TABLET SIZED SCREENS AS WELL,
    HOWEVER; IT IS TOO CRAMPED FOR PHONE SIZED SCREENS */
    @media only screen and (min-width: 481px) {

        form { 
            text-align: center;
        }
    }

    @media only screen and (max-width: 480px) {

        form { 
            text-align: center;
            width: 50%;
            margin-left: 5%;
        }
    }